:root {
    --mainBgColor: black;
    --secondaryBgColor: white;
    --textBgColor: #39FF13;
    --primaryTextColor:  black;
    --secondaryTextColor: #39FF13;
    --buttonColor: black;
    --buttonSecondaryColor: #39FF13;
    --shadowColor: #39FF13;
    --borderColor: black;
}
*{
    font-family: 'Coiny', cursive;
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 2em;
    background-color: var(--mainBgColor);
    color: var(--primaryTextColor);  
    border: 0 5px solid var(--borderColor);
}

