:root {
    --mainBgColor: black;
    --secondaryBgColor: white;
    --textBgColor: #39FF13;
    --primaryTextColor:  black;
    --secondaryTextColor: #39FF13;
    --buttonColor: black;
    --shadowColor: #39FF13;
    --borderColor: black;

}
*{
    font-family: 'Coiny', cursive;
    margin: 0;
    padding: 0;
    
}
html{
    scroll-behavior: smooth;
}
body{
    padding: 2em;
    background-color: var(--mainBgColor);
    color: var(--primaryTextColor);  
    border: 0 5px solid var(--borderColor);
}
section {
    margin: 0 auto;
    /* width: 100%; */
    margin-bottom: 3em; 
}
a {
    text-decoration: none;
    color: var(--secondaryTextColor);
}

/* class: containers */
.main-container{
    background-color: var(--secondaryBgColor);
    box-shadow: 10px 10px var(--shadowColor);
    width: 100%;
    display: grid;
    border-radius: 8px 8px 30px 8px;
    grid-template-columns: auto;
    grid-template-rows: 70px  auto auto;
    border: 5px solid var(--borderColor);
}
.main-container{
    grid-template-areas: 
        'nav-container'
        'greeting-container ' 
        'project-template'  
    ;    
}

.nav-container{
    border-radius: 8px 8px 0 0;
    width: 100%;
    border-bottom: 5px solid var(--borderColor);
    grid-area: nav-container;
    display: flex;   
    gap: 20px;
    align-items: center;
}
.greeting-container {
    grid-area: greeting-container;
}
.greeting-text-container{
    width: fit-content;
    margin: 5em 16em;
}
.greeting-text-container h1{
    font-size: 4rem;
    margin-bottom: 0.125em;
    font-family: 'Bungee Shade', Verdana, Geneva, Tahoma, sans-serif;
}
.greeting-text-container p{
    font-size: 1.5rem;
    margin-bottom: 1em;
    font-family: 'Bungee Shade', Verdana, Geneva, Tahoma, sans-serif;

}
.project-header{
    font-size: 7vw;
}
.project-text-container,
.project-imag{
    width: 100%;
}
.project-text-container{
    border-right: 5px solid var(--borderColor);
    padding: 2.2em 2em;
    text-align: center;
    background-color: var(--mainBgColor);
}

/* class: conmponents */
.browser-btn{
    width: 20px;
    height: 20px;
    background-color: var(--secondaryBgColor);
    border-radius: 50%;
    border: 5px solid var(--borderColor);
    margin-right: 0.8em;
}
.browser-btn:first-child {
    background-color: var(--buttonColor);
}
.browser-btn:nth-child(2),
.browser-btn:nth-child(3){
    box-shadow: 4px 4px var(--borderColor);
}
.nav-tap{
    text-align: center; 
    padding: 0.4em;
    border: 5px solid var(--borderColor);
    margin-right: 1em;
    color: var(--secondaryTextColor);
    background-color: var(--secondaryBgColor);
    box-shadow: 5px 1px var(--borderColor);
}

.browser-wrapper{
    grid-area: browser-wrapper;
    display: flex;
    margin-left: 20px;
}
.tap-wrapper{
    grid-area: tap-wrapper;
    display: flex;
}
.nav-tap:hover {
    background-color: var(--mainBgColor);
}
.nav-tap:hover a{
    color: var(--secondaryTextColor);
}
/* .btn{
    background-color: var(--secondaryBgColor);
    color: var(--primaryTextColor);
} */
#submit-btn{
    background-color: white;
    border: 2px solid white;
}
.btn:hover {
    transition: background-color 0.5s ease-in;
    background-color: var(--mainBgColor);
}

.uppercase{
    text-transform: uppercase;
}
.project-template{
    margin-top: 5em;
    padding: 5em;
    grid-area: project-template;
  
}
.project-content{
    background-color: var(--mainBgColor);
    margin: 2em auto;
    width: 70%;
    margin-bottom: 10em;

}
.project-content:hover,
#my-resume-btn:hover,
#submit-btn:hover{
    transition:  box-shadow 0.3s ease-in;
    box-shadow: 10px 10px var(--shadowColor),10px 10px 0px 3px  var(--borderColor),20px 20px var(--shadowColor),20px 20px  0px 3px  var(--borderColor) ;

}
.project-content:not(:hover),
#my-resume-btn:not(:hover){
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: none;
}
.project-title{
    width: fit-content;
    background-color: var(--textBgColor);
    margin: 1em auto;

}
.project-tool,
.project-description{
    color: var(--secondaryBgColor);
}
.project-description{
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    margin: 0 auto;
    /* font-size: 3vw; */
}
.logo{
    width: 5vw;
}
/* id */
#my-resume-btn{
    width: fit-content;
    margin: 1em;
    font-size: 1rem;
    border-radius: 8px 8px 30px 8px;
    background-color: var(--buttonColor);
    border: 5px solid var(--borderColor);
    color: var(--secondaryTextColor);
    padding: 0.8em;
    box-shadow: 5px 5px var(--borderColor);
}

#home-section,
#project-section{
    display: none;
    position: relative;
    -webkit-animation-name: animateSlideUp;
    -webkit-animation-duration: 1s;
    animation-name: animateSlideUp;
    animation-duration: 1s

}

/* Bootstrap */
.btn-primary{
      margin-top: 1em;
      margin-left: 1em;
      background-color: var(--mainBgColor);
      border: 1px solid var(--secondaryBgColor);
      color: var(--secondaryTextColor);
}
.btn-primary:hover{
    border:var(--secondaryBgColor);
    background-color: var(--secondaryBgColor);
    color: var(--primaryTextColor);
}
/* media queries */
@media screen and (max-width:1130px){
    .project-content{
        flex-direction: column;
        height: fit-content; 
    }
    .project-text-container{
        border-right: none;
        border-bottom: 5px solid var(--borderColor);
    }
}
@media screen and (max-width:1090px){
    .greeting-text-container{
        width: 100%;
        text-align: center;
        margin: 6em auto;
    }
    .browser-btn:nth-child(2),
    .browser-btn:nth-child(3){
        box-shadow: 1px 1px var(--borderColor);
    }
    .project-content{
        width: 100%;
    }
    .project-template{
        padding: 2em;
    }

}

/* mobile */
@media screen and (max-width:600px){
    .nav-container{
        display: none;
    }
    .main-container{
        box-shadow: none;
    }
    body{
        padding: 1em;
    }
    .greeting-text-container h1{
        font-size: 2rem;
    }
    .greeting-text-container p{
        font-size: 1rem;
    }
    #my-resume-btn{
        font-size: 1rem;
    }
    /* .project-template{
        height: auto;
    }
    .project-template::-webkit-scrollbar-track{
        display: none;
    } */
    .browser-wrapper{
        margin-left: 10px;
    }
    .nav-tap{
        padding: 0.1em;
    }
    .browser-btn{
        width: 10px;
    }
    .form-container{
        width: 100%;
        margin: 0;
    }
    form{
        padding: 0;
    }
    
}

#loader{
    width: 100%;
    text-align: center;
    padding: 1em;
    display: inline-block;
    vertical-align: top;
}

#loader .loadingbox{
    margin: auto;
    margin-top: 12em;
    margin-bottom: 0.3em;
}
.loadingbox{
    width: 30px;
    height: 30px;
    background-color: var(--secondaryTextColor);
    animation: loading 2s linear 0s 2;
    -webkit-animation: loading 2s linear 0s 2; 
}
/* loading box animation */
@-webkit-keyframes loading {
    0% { 
        -webkit-transform: rotate(0deg);
        opacity: 0.2; 
    }
    50% { 
        -webkit-transform: rotate(180deg);
        opacity: 0.6;
    }
    100% { 
        -webkit-transform: rotate(360deg);
        opacity: 1; }
    }
@keyframes loading{
    0% { 
        transform: rotate(0deg);
        opacity: 0.2;
    }
    50% { 
        transform: rotate(180deg);
        opacity: 0.6;
    }
    100% { 
        transform: rotate(360deg);
        opacity: 1; 
    }
}

/* animateSlideUp */
/* after loading finished */
@-webkit-keyframes animateSlideUp {
    from { bottom:-200px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animateSlideUp { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  

.form-container{
    width: 80%;
    height: 300px;
    color: white;
    margin: 0 auto;
    display: none;
}
form{
    width: 100%;
    /* padding: 2em; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
 
    
}
input[type=text] {
    border: none;
    /* background-color: var(--mainBgColor); */
    border: 2px solid white;
}
input[type=submit]{
    width: 100%;
}
input{
    width: 100%;
    border-radius: 10px;
    padding: 1em;
    outline: none;
}
input::placeholder,
textarea::placeholder{
    /* padding: 1em; */
    font-size: 0.8rem;
}

.full-width {
    grid-column: 1 / 3;   
}
textarea {
    width: 100%;
    height: 300px;
    resize: none;
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    padding: 1em;
}


