:root{
    --primaryBgColor: #fff8f1;
    --secondaryBgColor: #eca500;
    --primaryTextColor: #1e8bc3;
    --secondaryTextColor: #EEEDE9;
}
*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Courier New", Courier, monospace;
    color: var(--primaryTextColor);
}
body{
    background-color: var(--primaryBgColor);
}
h1{
    font-size: 15vw;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
}

h2{
    font-size: 10vw;
    font-weight: 700;
    letter-spacing: 10px; 
    font-family: 'Playfair Display', serif;

}
h3{
    color: black;
    font-size: 9vw;
}
/* h6{ 
    font-size: 2.4vw;
    color: black;
    font-family: 'Sansita', sans-serif;
} */

a{
    color: var( --primaryTextColor);
    cursor:pointer;
    text-decoration: none;
    letter-spacing: 2px; 
}
a:hover{
    border-bottom: 2px solid black;
}

nav{
    grid-column: 2/3;
    height: auto;
    box-sizing: border-box;
    top: 0;
    padding: 0.5em;
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0.6em;
    border: 2px solid black;
}
#hero-header{
    background-image: url(./images/sunflowers.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    padding: 1em;
}
#hero-text{
    grid-column: 1/2;
    justify-content: center;
    color: var(--secondaryTextColor);
    /* margin-top:5em; */
    display: flex;
    height: 70vh;
    flex-direction: column;
    z-index: 1;
    animation: slide-in-left 1.2s ease-in-out both 0.2s ;

}
#hero-text h1,
#hero-text p{
    color: var(--secondaryTextColor);
}
#social{
   grid-column: 1/3;
   display: flex;
   background-color: var(--primaryBgColor);
   height: fit-content;
   align-items: flex-end;
}
#social a{
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 1em;
    text-align: center;
    font-size: 3vw;
}
#gtihub-btn{
    border-right: 2px solid black;
}
#about{
    padding:4em 2em;
    text-align: center;
    width: 100%;
    /* font-size: 3.2vw; */
} 
#about article{
    width: 100%;
}

#projects{
    padding: 1em;
}
.card-img-top{
    width: 100%;    
}
.card-title{
    font-family: 'Courier Prime', monospace;
    font-weight: 700;
    font-size: 3vw;
    color: black;
}
footer{
    text-align: center;
    background-color: var(--secondaryBgColor);
}
footer p{
    color: var(--secondaryTextColor);
    margin-bottom: 0;
    padding: 1em;
}
.btn{
    background-color: var(--primaryBgColor);
    border: 2px solid black;
}
.btn:hover,
#social a:hover,
#main-nav li:hover{
    background-color: var(--secondaryBgColor);
    transition:  background-color 1s ease-in;
}
.scroll {
    opacity: 0;
    transition: opacity 500ms;
}
.scroll.scrolled {
    opacity: 1;
}
.scrolled .slide-left {
    animation: slide-in-left 1s ease-in-out both;
}
   
.scrolled .slide-right {
    animation: slide-in-right 1s ease-in-out both;
}
/* Animation */
@keyframes slide-in-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slide-in-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
/* Desktop */
@media screen and (min-width: 800px) {
    #hero-header,
    #hero-text{
        height: fit-content;
    }
    #about{
        margin-top: 9em;
    }
    #projects{
        padding: 3em;
    }
    #projects-container{
        padding: 2em;
    }
    
}